*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
  background-color: #8a9d69;
  padding-top: 3rem;
}

.container {
  background-color: #f7f7f7;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  color: #8a9d69;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.heading__primary {
  display: block;
  font-weight: 500;
  font-size: 4rem;
}

.heading__secondary {
  display: block;
  font-weight: 400;
  font-size: 2rem;
}

.list {
  list-style-type: none;
}

.list::after,
.list::before {
  content: "";
  display: table;
  clear: both;
}

.list__item {
  float: left;
  margin-right: 1rem;
  border: 3px solid #8a9d69;
  border-bottom: none;
}

.list__link {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: inherit;
  color: #8a9d69;
  font-weight: 700;
  font-size: 1.8rem;
}

.list__link:hover,
.list__link:active {
  background-color: #8a9d69;
  color: #e5eae2;
}

.main {
  padding: 1rem 0;
  border-top: 3px solid #8a9d69;
  border-bottom: 3px solid #8a9d69;
  width: 100%;
}

.main::after,
.main::before {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  float: left;
  width: 64%;
  margin-right: 2rem;
}

.aside {
  float: left;
  background-color: #e5eae2;
  padding: 4rem;
  width: 26%;
}

.banner {
  margin: 2rem 0;
  position: relative;
}

.banner__img {
  width: 100%;
  display: block;
}

.banner__description {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
  color: #fff;
}

footer {
  padding: 1rem 0;
}
